<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pdfgeneration20190314115608.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d9af063-f0b1-4b2c-823d-f64be82e3f48/resourcegroups/pdfgenrd/providers/Microsoft.Web/sites/PDFGeneration20190314115608</ResourceId>
    <UserName>$PDFGeneration20190314115608</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pdfgeneration20190314115608.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>